{
    "extends":[
        "airbnb-base",
        "prettier",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:jsx-a11y/airbnb-base",
        "plugin:react/airbnb-base"
    ]
}